section>header {
	margin: 0 0 2em 0;
}

#helpfulLinks>ul,
#tools>ul,
#cosplays>ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto;
	place-items: center;
	align-items: start;
	justify-items: center;;
	gap: 1rem;
	justify-self: center;
	width: 100%;
}

#helpfulLinks>ul>li,
#tools>ul>li {
	display: grid;
	grid-template-areas: "title" "use" "img" "description" "link";
	grid-template-columns: 1fr;
	grid-template-rows: auto auto  1fr auto auto;
	width: 100%;
	max-width: 45ch;
	padding: 1rem;
	margin: 0;
	background-color: var(--light-grey);
	border-radius: 8px;
	height: 100%;

	h3 {
		margin-block-end: auto;
		grid-area: title;
	}

	p:first-of-type {
		grid-area: use;
	}

	img {
		max-width: 100%;
		border-radius: 8px;
		grid-area: img;
		margin-top: 0.5em;
		align-self: center;
		justify-self: center;
	}

	p:last-of-type {
		grid-area: description;
		height: fit-content;
		align-self: end;
	}

	>a {
		grid-area: link;
		margin-block-start: 0.5rem;
	}
}

#cosplays li {
	display: grid;
	grid-template-areas: "title" "source" "img" "genres" "description" "link";
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto 1fr;
	width: 100%;
	max-width: 45ch;
	padding: 1rem;
	margin: 0;
	background-color: var(--light-grey);
	border-radius: 8px;
	height: 100%;

	.source,
	.genres {
		font-size: 1em;
		line-height: 1em;
		margin-block-start: 0.25em;
	}

	.source {
		margin-block-end: auto;
		grid-area: source;
	}

	.genres {
		margin-block-end: 0.5em;
		grid-area: genres;
	}

	h3 {
		margin: 0;
		line-height: 1em;
		grid-area: title;
		;
	}


	p,
	h3 {
		margin: 0;
	}

	img {
		width: 100%;
		height: auto;
		max-width: 100%;
		border-radius: 8px;
		grid-area: img;
		margin-top: 0.5em;

	}

	a {
		margin-block-start: 0.75rem;
		grid-area: link;
	}
}


p.content {
	-moz-columns: 20em 2;
	-webkit-columns: 20em 2;
	-ms-columns: 20em 2;
	columns: 20em 2;
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	-ms-column-gap: 2em;
	column-gap: 2em;
	text-align: justify;
}

footer>ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	list-style: none;
	width: fit-content;


	a {
		text-decoration: none;
		color: var(--dark-font);
	}
}

footer {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	ul {
		width: 100%;
		justify-content: center;
		padding: 0;

		li {
			padding: 0;
		}

	}

	p {
		justify-self: center;
		margin-block-end: 1em;
		font-size: 1em;
	}

	h2 {
		width: fit-content;
		justify-self: center;
		font-size: 1.5em;
	}
}

h3 {
	font-size: 1.5em;

	a {
		color: inherit;
		text-decoration: none;
	}
}