:root {
	--font-size: 20px;
	--small-font-size: 16px;
	--orange-bg: #e39a76;
	--pink-bg: #934d75;
	--orange-pink-gradient: 45deg, #e39a76 15%, #934d75 85%;
	--white: #ffffff;
	--black: #000000;
	--dark-font: #636363;
	--light-grey: #f7f7f7;
    --rounded-card-corners: 8px;
	--rounded-corners: 0.25em;
	--transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out
}