/* Infocard Styles */
section:has(.infocard) {
    >header {
        grid-column: 1/-1;
    }

    ul:has(.infocard),
    div:has(.infocard) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
        place-items: center;
        align-items: start;
        justify-items: center;
        gap: 1rem;
        justify-self: center;
        width: 100%;
    }

    .infocard {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 45ch;
        padding: 1rem;
        margin: 0;
        background-color: var(--light-grey);
        border-radius: var(--rounded-card-corners);
        height: 100%;

        >h3 {
            grid-area: title;
            font-size: var(--font-size-large);
            margin-block: 0;
        }

        p {
            margin: 0;

            &.source,
            &.genres {
                color: var(--light-font);
                font-size: var(--font-size-small);
                margin-block-end: 0.5em;
            }

            &.genres+p {
                margin-block-end: 1em;
            }
        }

        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        border-radius: var(--rounded-card-corners);
            grid-area: img;
        }

        a {
            grid-area: link;
        }
    }

    #cosplays li,
    section:has(.cosplay-info)>div {
        grid-template-areas: "title" "source" "img" "genres" "description" "link";
        grid-template-rows: auto auto auto auto 1fr;

        .source,
        .genres,
        .use {
            font-size: 1em;
            line-height: 1em;
            margin-block-start: 0.25em;
        }

        .source {
            margin-block-end: auto;
            grid-area: source;
        }

        .genres {
            margin-block-end: 0.5em;
            grid-area: genres;
        }

        a {
            margin-block-start: 0.75rem;
        }
    }

    .infolinks>li {
        height: 100%;

        >.infocard {
            grid-template-areas: "title" "use" "img" "description";
            grid-template-rows: auto auto 1fr auto;
            grid-template-columns: 1fr;
            display: grid;
            border-bottom: none;


            h3 {
                margin-block-end: auto;
                grid-area: title;
            }

            .use {
                grid-area: use;
                height: fit-content;
            }

            img {
                align-self: center;
                justify-self: center;
                height: 220px;
                width: 100%;
                object-fit: contain;
                grid-area: img;
                background-color: white;
        border-radius: var(--rounded-card-corners);
                padding: 1rem;
            }

            p:last-of-type {
                grid-area: description;
                height: fit-content;
                align-self: end;
            }
        }
    }

}

#cosplays>ul>li>img {
    height: 450px !important;
}


/* Professional Info Styles */
#resume>ul,
#certificates>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >li {
        background: var(--light-grey);
        border-radius: var(--rounded-card-corners);
        padding: 1rem;
    }
}

#resume>ul {
    text-align: left;
    border-inline-start: 1px solid var(--dark-font);
    padding-inline-start: 0.5em;

    >li {
        h3 {
            font-size: var(--font-size-large);
            margin-block-end: 0;
        }

        p {
            &:first-of-type {
                font-style: italic;
                font-size: var(--font-size-small);
                margin: 0 0 1rem 0;
            }

            &:last-of-type:not(:only-of-type) {
                margin-block-start: 0.5rem;
            }
        }

        ul {
            list-style: initial;
            margin-inline-start: 1.75rem;
        }
    }
}

#certificates>ul {
    >li>a {
        display: grid;
        grid-template-areas: "logo title" "logo issuer" "logo date";
        grid-template-columns: auto 1fr;
        align-items: start;
        justify-content: start;
        column-gap: 1rem;
        text-align: left;
        border-bottom: none;

        img {
            grid-area: logo;
            max-width: 64px;
            max-height: 64px;
        border-radius: var(--rounded-card-corners);
            align-self: center;
        }

        h3 {
            grid-area: title;
            font-size: var(--font-size-large);
            margin: 0;
        }

        p {
            margin: 0;

            &:first-of-type {
                grid-area: issuer;
            }

            &:last-of-type {
                grid-area: date;
                font-size: var(--font-size-small);
                color: var(--light-font)
            }
        }
    }
}

ul li img,
.cosplay-info img,
ul li img[src$=".png"],
ul li img[src$=".svg"] {
    height: 200px;
}

ul li img,
.cosplay-info img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--rounded-corners);
}

ul li img[src$=".png"],
ul li img[src$=".svg"] {
    width: auto;
    object-fit: initial;
}