#wrapper > header {
	padding-block: 3em;
	text-align: center;

	> * {
		transition: opacity 3s ease;
		transition-delay: 0.5s;
		opacity: 1;
	}
}

h1 {
	margin: 0;
	font-size: 2.5em;
	color: var(--light-pink-text);
}

#wrapper > nav {
	transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding
		0.2s ease;
	background-color: #ffffff;
	color: var(--dark-font);
	position: absolute;
	width: 100%;
	padding: 1em;
	background-color: var(--light-grey);
	border-top-left-radius: var(--rounded-corners);
	border-top-right-radius: var(--rounded-corners);
	cursor: default;
	text-align: center;
	box-sizing: border-box;
	z-index: 1000;
	display: block;
	margin: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;

		li {
			transition: margin 0.2s ease;
			display: inline-block;
			margin: 0 0.35em;
			padding: 0;
			vertical-align: middle;

			a {
				transition: font-size 0.2s ease;
				display: inline-block;
				height: 2.25em;
				line-height: 2.25em;
				padding: 0 1.25em;
				border: 0;
				border-radius: var(--rounded-card-corners);
				box-shadow: inset 0 0 0 1px transparent;

				&:hover {
					background-color: rgba(222, 222, 222, 0.25);
				}
			}
		}
	}
}

nav + main {
	padding-top: 3.25em;
}

main {
	container-type: inline-size;
	container-name: main-content;
	background-color: #ffffff;
	border-radius: var(--rounded-corners);
	color: var(--dark-font);

	.spotlight .image {
		border-color: #dddddd;
	}

	> section:not(:first-of-type) {
		border-top: solid 1px #dddddd;
		box-sizing: border-box;

		&:first-child {
			border-top: 0;
		}
	}

	.spotlight {
		margin: 0 0 2em 0;

		/* Standard spotlight layout (für index.html) */
		&:not(:has(.spotlight-top)) {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.content {
				width: 70%;

				& > :last-child {
					margin-bottom: 0;
				}
			}
		}

		/* Erweiterte spotlight layout mit top/bottom (für work.html) */
		.spotlight-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 5em;
			grid-column: 1 / -1;

			.content {
				width: 70%;

				& > :last-child {
					margin-bottom: 0;
				}
			}
		}

		.spotlight-bottom {
			width: 100%;

			header.major {
				margin: 2em 0 2em 0;
			}
		}

		header.major {
			margin: 0 0 2em 0;
		}

		/* Profilbild Hover mit Animation und Bildwechsel */
		.pfp-hover {
			width: 272px;
			height: 272px;
			border-radius: 100%;
			position: relative;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
			overflow: hidden;

			/* Style für das img Tag */
			img,
			picture {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 100%;
				display: block;
			}

			&:hover::after {
				opacity: 1;
				transform: scale(1.1) rotate(-2deg);
			}

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border-radius: 100%;
				background-image: url("/assets/img/Fun_Pfp.jpg");
				background-size: cover;
				background-position: center;
				opacity: 0;
				transform: scale(0.95) rotate(-2deg);
				transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1), transform 0.5s cubic-bezier(0.77, 0, 0.18, 1);
				z-index: 2;
			}
		}
	}

	> section:first-of-type h2 {
		justify-self: start;
	}

	section > header {
		margin: 0 0 2em 0;
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		list-style: none;
		width: fit-content;

		a {
			text-decoration: none;
			color: var(--dark-font);
		}
	}

	ul {
		width: 100%;
		justify-content: center;
		padding: 0;

		li {
			padding: 0;

			a > img,
			a > picture {
				max-width: 32px;
				max-height: 32px;
			}
		}
	}

	p {
		justify-self: center;
		margin-block-end: 1em;
		font-size: 1em;
	}

	h2 {
		width: fit-content;
		justify-self: center;
		font-size: 1.5em;
	}
}

/* Skills & Certificates Container Layout */
.skills-certificates-container {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
	border-top: solid 1px #dddddd;

	section {
		text-align: center;
		justify-items: center;
	}

	section:last-of-type {
		border-top: solid 1px #dddddd;
	}
}

#skills {
	display: block;

	div {
		width: 100%;

		div {
			width: 100%;
		}
	}

	li {
		text-align: center;
		list-style: none;

		&:not(:first-of-type) {
			border-top: solid 1px #dddddd;
			margin-block-start: 0.25rem;
			padding-block-start: 0.25rem;
		}
	}

	li:has(span) {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.5rem;
		align-items: center;

		span:first-of-type {
			justify-self: end;
			text-align: right;
		}

		span:last-of-type {
			justify-self: start;
			text-align: left;
			color: var(--light-font);
		}
	}
}

@container main-content (min-width: 1000px) {
	.skills-certificates-container {
		grid-template-columns: 1fr 40%;

		#skills {
			div div {
				padding-inline: 0;
				background-color: var(--light-grey);
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
			}

			header {
				margin-bottom: 0 !important;
			}
		}

		section:last-of-type {
			border-top: none;
			display: flex;
			flex-direction: column;
			background-color: var(--link-card-light-grey-hover);
			margin: clamp(2.5em, 6vw, 7em) clamp(1em, 5vw, 5em) clamp(2.5em, 7vw, 7em) 0;
			padding: 1rem;
			border-radius: var(--rounded-card-corners);
		}

		section:first-of-type {
			padding-inline-end: 2.5rem;
		}
	}
}

@media screen and (max-width: 980px) {
	section:first-of-type h2 {
		justify-self: center !important;
	}

	.spotlight {
		/* Standard spotlight (index.html) */
		&:not(:has(.spotlight-top)) {
			flex-direction: column-reverse;
			text-align: center;
		}

		/* Erweiterte spotlight mit top/bottom (work.html) */
		.spotlight-top {
			flex-direction: column-reverse;
			text-align: center;
		}

		.content {
			width: 100%;
			justify-content: center;

			header.major h2:after {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.pfp-hover {
		margin-top: 5.5em;
	}
}
