section>header {
	margin: 0 0 2em 0;
}

footer>ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	list-style: none;
	width: fit-content;


	a {
		text-decoration: none;
		color: var(--dark-font);
	}
}

footer {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	ul {
		width: 100%;
		justify-content: center;
		padding: 0;

		li {
			padding: 0;
		}

	}

	p {
		justify-self: center;
		margin-block-end: 1em;
		font-size: 1em;
	}

	h2 {
		width: fit-content;
		justify-self: center;
		font-size: 1.5em;
	}
}

#footer {

	padding: max(5em, 2.5em) max(5em, 1em) max(3em, 0.5em) max(5em, 1em);
	width: calc(100% + 2em);
	margin: 0 0 1em -2em;
}

#footer .copyright {
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	margin-top: 1rem;
}

#wrapper {
	width: min(calc(100% - 4em), 64em);
	margin-inline: auto;
	position: relative;
}