---
import { getLocaleFromUrl, getLocalizedContent } from '../utils/i18n/i18n';

const projectData = await import('../data/work/projects.json').then(m => m.default);
const locale = getLocaleFromUrl(Astro.url.pathname);
---

<ul>
{projectData.map((project) => {
    const localizedProject = getLocalizedContent(project, locale);
    return (
    <li>
        <h3><a href={localizedProject.url}>{localizedProject.title}</a></h3>
        <p>{localizedProject.role}</p>
        <p>{localizedProject.description}</p>
    </li>
    );
})}
</ul>
