:root {
	--font-size-xl: 32px;
	--font-size-medium: 20px;
	--font-size-large: 28px;
	--font-size-larger: 24px;
	--font-size: 20px;
	--font-size-small: 18px;
	--orange-bg: #e39a76;
	--pink-bg: #934d75;
	--light-pink-text: #fceef8;
	--orange-pink-gradient: 45deg, #e39a76 15%, #934d75 85%;
	--white: #ffffff;
	--black: #000000;
	--dark-font: #414141;
	--light-font: #6e6e6e;
	--middle-grey: #e0e0e0;
	--light-grey: #f7f7f7;
	--lighter-grey: #fafafa;
	--link-card-light-grey-hover: #eaeaea;
	--rounded-card-corners: 8px;
	--rounded-corners: 0.25em;
	--transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	--primary-button-color: #1a7bb9;
	--primary-button-hover-color: #145a8f;
	--primary-button-disabled-color: #627689;
	--secondary-button-color: #a47ab3;
	--secondary-button-hover-color: #6e4a7a;
	--secondary-button-active-color: #8b3fa3;
	--secondary-button-disabled-color: #8c5ca9;
}
