#projects li {
  text-align: left;
  margin-block-end: 1rem;

  h3 {
    font-size: var(--font-size-large);
    margin: 0;
  }

  p {
    margin: 0;

    &:first-of-type {
      color: var(--secondary-font);
      font-size: var(--font-size-small);
    }
  }
}