/* Infocard Styles */
section:has(.infocard):not(.spotlight, #helpfulLinks),
.spotlight-bottom,
ul:has(.infocard) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	grid-template-rows: auto;
	align-items: start;
	gap: 1rem;

	>header {
		grid-column: 1 / -1;
	}

	ul:has(.infocard),
	div:has(.infocard):not(.resources-list, .resources-list-content) {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
		grid-template-rows: auto;
		align-items: start;
		gap: 1rem;
		grid-column: 1 / -1;

		li:has(.link) {
			width: 100%;
		}

		li {
			height: 100%;
		}
	}

	.infocard {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		padding: 1rem;
		margin: 0;
		background-color: var(--light-grey);
		border-radius: var(--rounded-card-corners);
		height: 100%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
		text-align: center;

		ul {
			list-style: initial;
			padding: 1.5rem;

			li {
				width: 100%;
				text-align: left;
			}
		}

		&#about,
		&.cosplay-info {
			h3 {
				margin-block: 0.5rem 1rem;
				font-size: var(--font-size-large);
			}
		}

		&.cosplay-info {
			p.description {
				margin-block: 1rem;
			}
		}

		&#about {
			grid-template-areas: "title" "description";
			grid-template-rows: auto auto 1fr;

			ul {
				margin-top: 1rem;
				width: 85%;
				justify-self: center;
			}

			p {
				margin: 0;
			}
		}

		&.link {
			grid-template-areas: "title" "use" "img" "description";
			grid-template-rows: auto auto 1fr auto;
			border-bottom: none;
			background-color: var(--light-grey);
			transition: background-color 0.2s ease;


			h3 {
				margin-block-end: auto;
				font-size: var(--font-size-larger);
			}

			picture,
			.card-media {
				height: 150px;

				img {
					object-fit: contain !important;
				}
			}

			p:last-of-type {
				grid-area: description;
				align-self: end;
				font-size: var(--font-size-small);
				margin-block-start: 0.5rem;
			}
		}

		&.cosplay-info {
			h3 {
				margin-block-end: 0.5rem;
			}
		}

		&.costume,
		&.cosplay-info {
			grid-template-areas: "title" "source" "img" "genres" "description" "link";
			grid-template-rows: auto auto auto auto 1fr;

			a {
				margin-block-start: 0.75rem;
			}

			picture,
			.card-media {
				display: block;
				width: 100%;
				max-height: 450px;
				height: auto;
				overflow: hidden;
				justify-self: center;
				margin-inline: auto;
				background-color: #ffffff;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					object-fit: cover;
					object-position: center;
					width: auto;
					height: 100%;
					max-height: 450px;
					max-width: calc(450px * 2 / 3);
					aspect-ratio: 2 / 3;
					display: block;
				}
			}
		}

		&.cosplay-info picture,
		&.cosplay-info .card-media {
			min-height: 450px;
			height: 100%;

			img {
				height: 100%;
				aspect-ratio: unset;
				max-width: unset;
				width: 100%;
			}
		}

		>h3 {
			grid-area: title;
			font-size: var(--font-size-large);
			margin-block: 0;
		}

		p {
			margin: 0;
			height: fit-content;

			&.source,
			&.genres,
			&.use {
				color: var(--light-font);
				font-size: var(--font-size-small);
				margin-block-end: 0.5em;
			}

			&.use {
				grid-area: use;
			}

			&.source {
				grid-area: source;
			}

			&.description {
				grid-area: description;
				margin-block-start: 0.5em;
			}

			.genres {
				margin-block-end: 0.5em;
				grid-area: genres;
				margin-block-start: 0.25em;

				+p {
					margin-block-end: 1em;
				}
			}
		}

		&:not(:has(p)) {
			grid-template-areas: "title" "list";
			grid-template-rows: auto 1fr;

			li {
				height: initial;
			}
		}

		&:not(.costume):not(.cosplay-info) picture,
		&:not(.costume):not(.cosplay-info) .card-media {
			aspect-ratio: 1 / 1;
		}

		&.cosplay-info img,
		picture,
		.card-media {
			width: 100%;
			height: auto;
			max-width: 100%;
			border-radius: var(--rounded-card-corners);
			grid-area: img;
			align-self: center;
			justify-self: center;
			background-color: white;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				border-radius: var(--rounded-card-corners);
			}
		}

		a {
			grid-area: link;
		}

		/* Hover effect for link cards */
		&.link:hover {
			background-color: var(--link-card-light-grey-hover);
		}
	}
}

/* Special styling for section containing #about - max 2 columns */
section:has(#about) {
	grid-template-columns: repeat(auto-fit, minmax(clamp(400px, calc((100% - 1rem) / 2), 100%), 1fr)) !important;
}

/* Language switch */
.language-switch {
	position: relative;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	gap: 0;
	padding: 2px;
	border-radius: 999px;
	background-color: rgba(255, 255, 255, 0.65);
	border: 1px solid var(--light-grey);
	overflow: hidden;
}

.language-switch::before {
	content: "";
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	inset: 2px auto 2px 2px;
	width: calc(50% - 2px);
	will-change: transform;
	border-radius: 999px;
	background-color: var(--secondary-button-active-color);
	transform: translateX(0);
	transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
	z-index: 0;
}

.language-switch[data-active="de"]::before {
	transform: translateX(100%);
}

.language-switch .language-link {
	position: relative;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 3.25em;
	padding: 0.35em 0.9em;
	border-bottom: 0;
	border-radius: 999px;
	color: var(--dark-font);
	transition: color 0.1s ease;
	font-weight: 500;
}

.language-switch .language-link[data-active="true"] {
	color: #ffffff;
}

.language-switch .language-link:focus-visible {
	outline: 2px solid var(--secondary-button-active-color);
	outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
	.language-switch::before {
		transition: none;
	}
}

/* Professional Info Styles */
#resume>ul,
#certificates>ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	>li {
		background: var(--light-grey);
		border-radius: var(--rounded-card-corners);
		padding: 1rem;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
	}
}

#resume>ul {
	text-align: left;
	border-inline-start: 1px solid var(--dark-font);
	padding-inline-start: 1em;
	padding-block: 0.5rem;
	margin-block: 2rem;

	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: -3px;
		top: -33px;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: var(--dark-font);
		box-shadow: 0 11px 0 1px var(--dark-font), 0 22px 0 2px var(--dark-font);
	}

	&::after {
		content: "";
		position: absolute;
		left: -4px;
		bottom: -15px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: var(--dark-font);
		box-shadow: 0 11px 0 -1px var(--dark-font), 0 22px 0 -2px var(--dark-font);
	}

	>li {
		h3 {
			font-size: var(--font-size-large);
			margin-block-end: 0;
			margin-block-start: 0;
		}

		p {
			&:first-of-type {
				font-style: italic;
				font-size: var(--font-size-small);
				margin: 0 0 1rem 0;
			}

			&:last-of-type:not(:only-of-type) {
				margin-block-start: 0.5rem;
			}
		}

		ul {
			list-style: initial;
			margin-inline-start: 1.75rem;
		}
	}
}

#certificates {
	/* Reserve space to prevent layout shift during content loading */
	min-height: 200px;
}

#certificates>ul>li:hover {
	background-color: var(--link-card-light-grey-hover);
}

#certificates>ul {
	width: 100%;

	>li>a {
		display: grid;
		grid-template-areas: "logo title" "logo issuer" "logo date";
		grid-template-columns: auto 1fr;
		align-items: start;
		justify-content: start;
		column-gap: 1rem;
		text-align: left;
		border-bottom: none;
		position: relative;
		padding-inline-end: 2.5rem;
		padding-block-end: 0.5rem;

		img,
		picture {
			grid-area: logo;
			width: 64px;
			height: 64px;
			min-width: 64px;
			min-height: 64px;
			max-width: 64px;
			max-height: 64px;
			border-radius: var(--rounded-card-corners);
			align-self: center;
		}

		h3 {
			grid-area: title;
			font-size: var(--font-size-large);
			margin: 0;
		}

		p {
			margin: 0;

			&:first-of-type {
				grid-area: issuer;
			}

			&:last-of-type {
				grid-area: date;
				font-size: var(--font-size-small);
				color: var(--light-font);
			}
		}

		&::after {
			content: "";
			position: absolute;
			right: 0.5rem;
			bottom: -0.5rem;
			transform: translateY(0.8em);
			width: 2.2em;
			height: 2.2em;
			background-color: var(--dark-font);
			mask-image: url("/assets/img/arrow-right-short.svg");
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
			-webkit-mask-image: url("/assets/img/arrow-right-short.svg");
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-size: contain;
			-webkit-mask-position: center;
		}
	}
}

ul li picture,
.cosplay-info picture,
ul li picture[src$=".png"],
ul li picture[src$=".svg"] {
	height: 200px;
}

.cosplay-info picture,
ul li picture,
.cosplay-info picture {
	width: 100%;
	object-fit: cover;
	border-radius: var(--rounded-corners);
}

ul li img[src$=".png"],
ul li img[src$=".svg"] {
	width: auto;
	object-fit: initial;
}

.resources-list {
	width: 100%;
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--light-grey);
	padding-block-start: 0.5rem;
	position: relative;
	overflow: clip;
	border-radius: var(--rounded-card-corners);

	details {
		display: contents;

		&[open] {
			--details-link-bg: #fff;
			--details-pointer-events: none;
			--details-link-border-radius: .5rem .5rem 0 0;

			&::details-content {
				display: contents;
			}
		}
	}
}

.resources-list summary {
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	border-radius: 1.5rem;
	border: 2px solid transparent;
	width: max-content;
	height: 100%;
	max-width: 100%;
	display: grid;
	background-color: var(--secondary-button-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	list-style: none;
	white-space: nowrap;
	position: relative;
	z-index: 2;
	order: 1;
	margin: 0.3rem 0.5rem;
	color: var(--black);

	&:hover,
	&:focus-visible,
	&:active {
		background-color: var(--secondary-button-hover-color);
		color: var(--white);
	}
}

.resources-list summary::-webkit-details-marker {
	display: none;
}

.resources-list summary:focus-visible {
	outline: 2px solid var(--dark-font);
	outline-offset: 2px;
}

.resources-list summary>span:first-child {
	font-weight: 500;
	font-size: var(--font-size-small);
}

.resources-list details[open] summary {
	background: var(--secondary-button-active-color);
	color: var(--white);
}

.resources-list details[open]> :not(summary) {
	flex-basis: 100%;
	width: 100%;
	order: 2;
	margin-top: 0.5rem;
	padding: 1rem;
	position: relative;
	z-index: 1;
	background: #ffffff;

	h3 {
		font-size: var(--font-size-large);
		margin-block-end: 0.5rem;
	}

	p,
	h3 {
		margin-block-start: 0;
	}

	p {
		margin-block-end: 1.5rem;
	}
}