---
import { Picture } from "astro:assets";
import ninaPfp from "../../assets/img/Nina_Pfp.jpg";
import CosCard from "../../components/CosCard.astro";
import LinkCard from "../../components/LinkCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Ressources from "../../components/Ressources.astro";
---

<BaseLayout>
  <body>
    <div id="wrapper">
      <!-- Header -->
      <header>
        <h1>NinuMakes</h1>
        <p>Cosplay | Crafting | Developing</p>
      </header>

      <!-- Nav -->
      <nav>
        <ul>
          <li><a href="#intro" class="active">Vorstellung</a></li>
          <li><a href="#cosplays">Cosplays & Buildbooks</a></li>
          <li><a href="#helpfulLinks">Hilfreiche Links</a></li>
          <li><a href="#tools">Werkzeuge & Shops</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <main>
        <!-- Introduction -->
        <section id="intro" class="spotlight">
          <div class="content">
            <header class="major">
              <h2>Nina Friedrich</h2>
            </header>
            <p>
              Angefangen habe ich damit, einfach passende Kleidung
              zusammenzustellen. Schon bald entstanden komplette, selbstgemachte
              Outfits mit magischen Requisiten. Seit 2022 bastle ich aktiv
              Cosplays von Grund auf und habe kurz darauf meine Karriere als
              Softwareentwicklerin gestartet.
            </p>
            <a class="button primary" href="/work.html"> Meine Arbeit </a>
          </div>
          <div class="pfp-hover">
            <Picture
              src={ninaPfp}
              alt="Nina Friedrich"
              width={272}
              height={272}
              formats={["avif", "webp", "jpeg"]}
              fetchpriority="high"
              loading="eager"
            />
          </div>
        </section>

        <section id="cosplays">
          <header class="major">
            <h2>Cosplays & Buildbooks</h2>
            <p>
              Hier findest du alle meine Kostüme! Wenn du Lust auf ein
              gemeinsames Fotoshooting hast, schick mir einfach eine
              <a href="https://www.instagram.com/ninumakes/" target="_blank"
                >Instagram-DM</a
              > oder eine
              <a href="mailto:nina.friedrich02@gmail.com">E-Mail</a> — ich freue mich
              darauf!
            </p>
            <p>
              Wann immer möglich, habe ich meine Buildbooks verlinkt, damit du
              sehen kannst, wie ich jedes Kostüm umgesetzt habe. Alle wurden in
              Canva erstellt und sind über Google Drive verfügbar — vielleicht
              inspirieren sie dich für eigene Projekte!
            </p>
          </header>
          <CosCard />
        </section>

        <section id="helpfulLinks">
          <Ressources />
        </section>
      </main>
    </div>
  </body>
</BaseLayout>
