#
# Run all checks on PRs and pushes
#
name: Checks

# Controls when the action will run.
on:
  pull_request:
    types: [opened, synchronize, reopened]

  push:
    branches: [main, next, beta, alpha]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}_${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pr-lint:
    name: '▶️ actions'
    uses: ./.github/workflows/pr-lint.yml
    permissions:
      contents: read
      pull-requests: write

  codeql:
    name: '▶️ actions'
    needs: [pr-lint]
    uses: ./.github/workflows/codeql.yml
    permissions:
      actions: read
      contents: read
      security-events: write

  dependencies:
    name: '▶️ actions'
    uses: ./.github/workflows/dependencies.yml
    permissions:
      pull-requests: write
      contents: write

  npm-test:
    name: '▶️ actions'
    uses: ./.github/workflows/npm-test.yml
    permissions:
      contents: read
